// @import "./reset.scss";
@import "./List.scss";
@import "./Search";
@import "./Selected";
@import "./variables.scss";


html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-width: 700px;
  min-height: 700px;
  width: 95%;
}

.App {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: darken($primary-color, 40%);
  font-family: sans-serif;

  #left{
    width: 65%;
    // max-height: 700px;
    overflow-y: scroll;
  }
}