// @import "./reset.scss";
@import "./List.scss";
@import "./Search";
@import "./Selected";
@import "./variables.scss";


body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  min-width: 700px;
  min-height: 700px;
}

.App {
  border: 1px solid $primary-color;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: darken($primary-color, 40%);
  font-family: sans-serif;


  #left{
    width: 65%;
    height: 700px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #right{
    width: 35%;
    height: 700px;
    overflow: hidden;
  }
}